.clearfix
  =form_with(model: @artist) do |form|
    .row
      .col-form-label 名前
      .col= form.text_field :name, class: "form-control"
    .row
      .col-form-label bio
      .col= form.text_area :bio, class: "form-control"
    -# .row
    -#   .col-form-label ユーザー
    -#   .col= form.text_field :user_name, class: "form-control", list: 'artist-list', value: @artist.user.name
    -# %datalist#artist-list
    -#   - @users.each do |user|
    -#     %option{value: user.name}
    .row.mt-3.d-inline-block.float-end
      .col
        = form.submit action, class: "btn btn-primary"
