%table.table.align-middle.table-striped
  %thead
    %tr
      %th 名義
      %th ユーザー
      %th bio


  %tbody
    - artists.each do |artist|
      %tr
        %td= link_to artist.name, artist_path(artist)
        %td
          -if artist.users.present?
            - artist.users.each do |user|
              = link_to user.name, user_path(user) 
        %td= artist.bio
