-provide(:title, "アーティスト一覧")
%h1 全てのアーティスト
=link_to "アーティストを追加", new_artist_path, class: "text-white btn btn-primary"
%hr
.row.mb-3
  .col-2.col-form-label ユーザー検索
  .col
    %input.form-control#artist-search
=render 'index_table', artists: @artists
= javascript_include_tag 'artist/index'
