%h1 全てのアーティスト

%table.table.align-middle
  %thead
    %tr
      %th 名義
      -# %th ユーザー
      %th bio


  %tbody
    - @artists.each do |artist|
      %tr
        %td= link_to artist.name, artist_path(artist)
        -# %td
        -#   = link_to artist.user.name, user_path(artist.user) if artist.user.present?
        %td= artist.bio


.btn.btn-primary.mb-3.float-end=link_to "アーティストを追加", new_artist_path, class: "text-white"
