-provide(:title, @artist.name)
.artist-info.clearfix
  %h1=@artist.name
  %h6
    ユーザー：
    =link_to @artist.user.name, user_path(@artist.user) if @artist.user.present?
  %p=@artist.bio
  =link_to "編集", edit_artist_path(@artist), class: "text-white btn btn-primary float-end"

%h2ディスコグラフィー
= render "musics/music"   

