-provide(:title, 'ユーザー一覧')
%h1 全てのユーザー

%table.table.align-middle.table-striped
  %thead
    %tr
      %th 名前
      %th 回生
      %th 役職
      %th bio


  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user_path(user)
        %td= user.graduate
        %td= user.role_member? ? '' : user.role_i18n
        %td= user.bio
