%h1 全てのユーザー

%table.table.align-middle
  %thead
    %tr
      %th 名前
      -# %th ユーザー
      %th bio


  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user_path(user)
        -# %td
        -#   = link_to artist.user.name, user_path(artist.user) if artist.user.present?
        %td= user.bio
