-provide(:title, "edit #{@designer.name}")
%h1="#{@designer.name}を編集"

= render 'form', action: "更新", designer: @designer, local: true

=link_to "削除", designer_path(@designer), method: :delete, data: { confirm: "本当に消しますか" }, class: "text-white btn btn-danger d-inline-block mt-2"