-provide(:title, @designer.name)
.designer-info.clearfix
  %h1=@designer.name
  %h6
    ユーザー：
    -if @designer.users.present?
      -@designer.users.each_with_index do |user, n|
        -if n > 0
          ,
        =link_to user.name, user_path(user)
  %p=@designer.bio

  =link_to "編集", edit_designer_path(@designer), class: "text-white btn btn-primary float-end"

%h2ディスコグラフィー
- @designer.albums.each do |album|
  = link_to album_path(album), class: "album-background" do
    - if album.jacket.attached?
      = image_tag album.jacket_middle ,class: "album-item", width: "130px"
    - else
      .position-relative
        = image_tag("kakukichi" ,class: "album-item", width: "130px")
        .h6.position-absolute.top-50.start-50.translate-middle.bg-primary.text-white.p-1.text-center= album.name
