-provide(:title, "edit #{@album.name}")
%h2 アルバムを編集
=render "form", album: @album, action: "更新"
%hr
%h2.mt-4 新規デザイナー
=render 'designers/form', designer: Designer.new, action: "作成", local: false, edit: true
