-provide(:title, "edit #{@album.name}")
=render "form", album: @album, action: "更新"
- if current_user.admin?
  .btn.btn-danger.d-inline-block.mt-2=link_to "削除", album_path(@album), method: :delete, data: { confirm: "本当に消しますか" }, class: "text-white"
