
// music show
.music-info {
    display: grid;
    grid-template:
    "jaket text" 250px
    / 300px 1fr;
    margin-top: 100px;
    padding: 30px 0;
    background-color:#8899a642;
    border-radius: 10px;
  }
  
  .music-comments, .music-suggest {
    margin: 30px;
  }
  
  .comment-form {
    width: 500px;
    height: 150px;
  }
  
  .comment-textarea {
    width: 500px;
    height: 100px;
    margin: 0;
    padding: 0;
    display: block;
    font-size: 15px;
  }
  
  .comment-submit {
    margin:10px 0;
    float: right;
  }
  
  .comment-item {
    margin-left: 10px;
  }
  
  .comment-user {
    color: #8899a6;
  }
  
.music-info-right {
  audio {
    display: inline-block;
    width: 100%;
  }
}

.music-containner-sita {
  display: grid;
  grid-template:
  "comment suggest"
  /1fr 2fr;
}

.musics-suggested {
  display: grid;
  grid-template:
  "jaket name"
  /60px 1fr;
  height: 60px;
}

.musics-suggested-jacket {
  margin: 5px;
}

.jacket-s {
  height: 60px;
}

.name-s {
  display: inline-block;
}

.suggestion-wrap {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.music-like {
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-show-like {
  display: inline-block;
  line-height: 61px;
  margin: 0 15px;
}

.add-playlist {
  position: relative
}

.audio-player {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-like-playlist {
  display: grid;
  grid-template:
  "player like-playlist ."
  / 1fr 35px 35px 20px;
}

// .add_playlist-point {
//   vertical-align: middle;
//   p {
//     line-height: 61px;
//     margin: 0;
//   }
// }