@import "./albums.scss";
@import "./comments.scss";
@import "./intro_quizzes.scss";
@import "./likes.scss";
@import "./music_playlist_relations.scss";
@import "./musics.scss";
@import "./playlists.scss";
@import "./searchs.scss";
@import "./sessions.scss";
@import "./static_pages.scss";
@import "./users.scss";

body {
  margin: 0;
  padding: 0;
}

// 細いとき
@media screen and (max-width: 1023px) {
  .side-bar{
    display: none;
    position: fixed;
    z-index: 101;
    background-color: azure;
    height: 100vh;
    width: 100%;
  }

  #close-side-bar{
    display: none;
    position: absolute;
    top: 3%;
    right: 5%;
  }

  .content {
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(19, 1fr) 8vh;
    grid-template-columns: 1fr;
  }
  footer {
    grid-row: 18/21;
    grid-column: 1/3;
    background-color: #eee;
    div {
      display: flex;
      align-items: center;
    }
  }
  .main-container {
    grid-row: 2/18;
    grid-column: 1/3;
    // overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px 10px 10px 10px;
    background-color: rgb(255, 255, 255);
  }
  .top-bar {
    background-color: rgb(39, 39, 39);
    grid-row: 1;
    grid-column: 1/3;
    display: grid;
    grid-template:
      "left right"
      / 250px 1fr;
      z-index: 100;
  }

  #open-side-bar{
    display: inline-block;
  }

  .track-info-wrapper{
    justify-content: center;
    margin: 5px 0;
  }

  .audio-player {
    display: flex;
    align-items: center;
  }

  .album-name-big, .artist-name-big{
    display: none;
  }

  .album-container {
    text-align: center;
  }
}

// 太いとき
@media screen and (min-width: 1024px) {
  .content {
      height: 100vh;
      display: grid;
      grid-template-rows: repeat(19, 1fr) 8vh;
      grid-template-columns: 250px 1fr;
  }
  footer {
    grid-row: 20/21;
    grid-column: 1/3;
    background-color: #eee;
    display: grid;
    grid-template: 
    "trackinfo player brank"
    /30% 1fr 30%;
    div {
      display: flex;
      align-items: center;
    }
  }
  .main-container {
    grid-row: 2/20;
    grid-column: 2;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px 40px 10px 40px;
    background-color: rgb(255, 255, 255);
  }

  #close-side-bar{
    display: none !important;
  }

  .side-bar {
    display: block !important;
    grid-row: 1/20;
    grid-column: 1;
    background-color: azure;
  }

  #open-side-bar{
    display: none;
  }

  .track-info-wrapper {
    margin-left: 30px;
  }

  .album-name-small, .artist-name-small{
    display: none;
  }
  .top-bar {
    background-color: rgb(39, 39, 39);
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template:
      "left right"
      / 300px 1fr;
      z-index: 100;
  }
}

.tow-line{
  display: inline-block;
  height: 17px;
  margin: auto 10px;
}

// スクロールバー非表示
.contents_box::-webkit-scrollbar{
  display: none;
}

/* トップバー */
.top-bar-left {
  display: flex;
  form {
    display: inline-block;
    margin: auto 0;
    height: 28px;
  }
  @media screen and (min-width: 1024px) {
    input {
      width: 250px;
      height: 24px;
      padding: 0;
      margin:0 20px;
    }
  }
  @media screen and (max-width: 1023px) {
    input {
      width: 150px;
      height: 24px;
      padding: 0;
      margin:0 20px;
    }
  }
}

.top-bar-right {
  a {
    display: inline-block;
    float: right;
    height: auto;
    margin: 0 10px;
    color: rgba(238, 238, 238, 0.74);
  }
  a:hover {
    color: #eee;
  }
}

.top-bar p {
  margin-right: 30px;
}

#user-ddmenu {
  display: none;
  width: 100px;
  height: 100px;
  background-color: rgb(224, 224, 224);
}



/* サイドバー */
.side-bar-content {
  margin-left: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.side-bar-content-2 {
    margin-top: 10px;
    height: auto;
    overflow-y: scroll;
    flex-grow: 1;
}


.fa-config{
  font-family: "Font Awesome 6 free";
  font-weight: 900;
  display: inline-block;
}

.x-icon {
  float: right;
  margin: 13px 19px;
  font-size: large;
  cursor: pointer;
}

.like-icon {
  color: #ff2581;
}

.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  margin-right: 7px;
}

.text-field {
  width: 154px;
}

#logo {
  font-size: 30px;
  display: inline-block;
  margin-top: 10px;
}

// 新しいプレイリスト
#new-playlist {
  cursor: pointer;
  color: rgb(44, 44, 44);
}

#new-playlist:hover {
  color: #000000;
}

.new-playlist-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 200;
  background-color: #0000004d;
}

@media screen and (min-width: 1023px) {
  .new-playlist-form {
    width: 900px;
    height: 500px;
    margin: auto;
    background-color: aliceblue;
    border-radius: 10px;
  }

  .new-playlist-form-content-form {
    width: 500px;
    margin: auto;
  }
}

@media screen and (max-width: 1023px) {
  .new-playlist-form {
    width: 300px;
    height: 500px;
    margin: auto;
    background-color: aliceblue;
    border-radius: 10px;
  }
  .new-playlist-form-content-form {
    width: 250px;
    margin: auto;
  }
}
.x {
  height: 30px;
}




.form-name{
  width: 100%;
}

.form-bio{
  width: 500px;
  height: 230px;
}

.new-playlist-comment {
  width: 100%;
  height: 230px;
}

.new-playlist-submit-btn {
  float: right;
}

// audio player
#foot-audio-player {
  display: flex;
  align-items: center;
  #audio {
    display: inline-block;
    width: 100%;
    height: 30px;
  }
}

.audio-player-wrapper {
  display: grid;
  grid-template:
  "pre player next loop" auto
  / 50px 10fr 50px 50px;
}

.audio-player-wrapper-music-show {
  display: grid;
  grid-template:
  "player loop ." auto
  / 10fr 50px 1fr;
}

.track-info {
  margin-right: 10px;
  display: inline-block;
}

.prevbtn, .nextbtn {
  margin: 0 10px;
}

.fa-rotate {
  color: rgb(158, 158, 158);
}

.loop-true {
  color: #000000;
  background-color: #4dafff;
  .fa-rotate {
    color: rgb(0, 0, 0);
  }
}

/* 文字 */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin: 9px 0;
}

a {
  text-decoration: none;
  color: rgb(44, 44, 44);
}

a:hover {
  color: black;
}

/* ジャケット */
.album-item {
  flex: 0 0 30%;
  margin: 5px;
}

// アルバムshow
.album-info {
  display: grid;
  grid-template:
  "jaket text" 250px
  / 300px 1fr;
}

.album-jaket-img {
  width: 250px;
}
.album-info-text {
  display: flex;
  align-items: center;
  h1 {
    display: inline-block;
    margin: 0;
    
  }
}


.album-musics {
  margin: 10px;
}

.album-music-track {
  display: flex;
  // justify-content: center;
  align-items: center;
}

.unliked-btn {
  margin-right: 10px;
  color: #8899a6;

}

.liked-btn {
  margin-right: 10px;
  color: #ff2581;
}

.house {
  margin-right: 10px;
  color: #000000;
}

// ログイン
.login-forms {
  width: 800px;
  margin: 100px auto;
}

.liked-music-name, .liked-music-album, .liked-music-artist, .liked-music-like, .liked-music-jaket, .album-music-like  {
  display: flex;
  align-items: center;
}


.add_playlist-point {
  cursor: pointer;
}

.select-playlists {
  position: absolute;
  right: 10px;
  background-color: #d9eeff;
  width: 100px;
  padding: 0 7px;
  z-index: 1;
  border-radius: 2px;
  ul {
    margin-bottom: 10px;
  }
}

.select-playlists-close {
  cursor: pointer;
  p {
    margin:7px 5px;
  }
}

.heart-btn {
  border: none;
  background-color:#00000000;
  cursor: pointer;
  padding: 0 0 0 5px;
}

.music-list {
  margin:10px 0 ;
}

.liked-music-jaket{
  a {
    height: 50px;
  }
}

#flash {
  width: 30%;
  left: 70%;
  position: absolute;
  top: 60px;
  div {
    width: 100%;
    height: 46px;
    p {
      float: right;
      margin: 1px 50px 1px 0;
      background-color: rgb(195, 227, 255);
      padding: 10px;
      border-radius: 5px;
      display: inline-block;
    }
  }
}

