.playlist-info {
    h1 {
        margin-bottom: 5px;
    }
    h3 {
        margin: 10px 0 10px 0;
    }
    background-color: #eee;
    padding:2px 20px;
    border-radius: 10px;

}

.playlist-edit-delete {
    height: 40px;
    a, span {
        float: right;
        margin-left: 15px;
        cursor: pointer;
        padding: 5px 10px;
        color: #ffffff;
        border-radius: 3px;
    }
    a:hover {
        color: #ffffff;
    }
}

.edit-playlist {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #0000004d;
    display: none;
  }

.tr-number-play {
    border: none;
    background-color: #00000000;
    cursor: pointer;
}

.play-button {
    position:relative;
}
.tr-playbutton {
    opacity: 0;
    bottom: 30%;
}

.music-in-album:hover, .track:hover {
    .tr-playbutton {
        opacity: 1;
    }

    .tr-number {
        opacity: 0;
    }
    background-color: rgb(243, 243, 243);
}

.playlistplaybutton{
    font-size: 20px;
}

.now-play {
    background-color: rgb(243, 243, 243);
    a {
        color: #0094ff;
    }
    .tr-playbutton {
        opacity: 1;
    }
    .tr-number {
        opacity: 0;
    }
}