// ホーム
.sita-container {
    display: grid;
    grid-template: 
        "comment playlist"
        /1fr 1fr;
    h1 {
        margin: 5px 0;
    }
}

.new-comment-item {
    margin-left: 10px;
}

.album-background {
    display: inline-block;
    width: 140px;
    height: 140px;
    border-radius: 3px;
    transition: 0.2s;
}

.album-background:hover {
    background-color:rgb(233, 233, 233)
}

.comment-card,.playlist-card {
    background-color: aliceblue;
    margin: 5px;
    padding: 5px 7px;
    border-radius: 2px;
}