%h1 全てのプレイリスト
- @playlists.each do |playlist|
  %ul.playlist-card
    %li
      = link_to playlist.user.name, user_path(playlist.user), class: "me-2"
      = link_to playlist.name, playlist_path(playlist)
    %li
      %p=playlist.comment
