- number = 0
%table.table.align-middle
  %thead
    %tr
      %th{scope: "col"} #
      -if !@at_album_show
        %th{scope: "col"}
      %th.title-th{scope: "col"} タイトル 
      %th.title-artist-th 
        タイトル
        %br
        アーティスト
      -if !@at_album_show
        %th.album-th{scope: "col"} アルバム
      %th.artist-th{scope: "col"} アーティスト
      - if @infos.present?
        %th{scope: "col"} 
        %th{scope: "col"} 
      - if @playlist&.user == current_user
        %th{scope: "col"} 
      - if current_user.editor?
        %th{scope: "col"} 
      - if @results.present?
        %th 3点
        %th 2点
        %th 1点
        %th 合計点
        %th 長さ
        %th 長さ合計
      

  %tbody#tracks
    - musics.each do |music|
      = render "shared/track_row", music: music, number: number
      - number+=1
