- number = 0
%table.table.align-middle
  %thead
    %tr
      %th{scope: "col"} #
      -if !@at_album_show
        %th{scope: "col"}
      %th{scope: "col"} タイトル 
      -if !@at_album_show
        %th{scope: "col"} アルバム
      %th{scope: "col"} アーティスト
      %th{scope: "col"} 
      %th{scope: "col"} 
      - if @playlist&.user == current_user
        %th{scope: "col"} 

  %tbody#tracks
    - @musics.each do |music|
      = render "shared/track_row", music: music, number: number
      - number+=1