if (<%=@save%>){
  $('#flash').append("<div><p>以下の内容で曲を更新しました。<%= html_safe_newline("<br>Tr.: #{@music.track}<br>曲名: #{@music.name}<br>アーティスト: #{@music.artist.name}<br>インデックス情報:<br>#{@music.index_info}")%></p></div>");
}else{
  $('#flash').append("<div><p><%= sanitize @messages, tags: %w(br) %></p></div>");
}

setTimeout(function(){
$('#flash div:first').remove();
}, 6000);
