= form_with url: daikichi_form_daikichi_result_daikichis_path, method: :post do |f|
  =render 'shared/errors', instance: @album
  %table.table.align-middle
    %thead
      %tr
        %th{scope: "col"} 収録する
        %th{scope: "col"} タイトル 
        %th 合計時間
    %tbody
      - @musics.each_with_index do |music, index|
        %tr.align-middle
          %td
            %label.form-check-label
              =check_box_tag "music_ids[]", music.id, @results[index][:total_length].to_i < 60
          %td=music.name
          %td="#{@results[index][:total_length].to_i/60}分#{@results[index][:total_length].to_i%60}秒"
  .actions
    = f.submit '作成', class: "btn btn-primary"
