-provide(:title, @daikichi_form.name)
%p#notice= notice

%h1= @daikichi_form.name
%p= html_safe_newline(@daikichi_form.description)

=render 'table', daikichi_forms: [@daikichi_form]

%h2 投票対象曲
=render 'musics/music', musics: @musics
