%footer.position-relative{class: "#{'d-none' if @intro_quiz}"}
  - if @infos.present?
    .track-info-wrapper
      .track-info
        %span#track-artist
      .track-info
        %span.mx-2 -
      .track-info
        %span#track-name
  
    - if @music_show
      .audio-player.d-flex.justify-content-center
        .audio-player-wrapper-music-show.w-100
          #foot-audio-player
            %audio#audio
          .loop
            %button#loop-btn
              %i.fa-solid.fa-rotate
          .index-info-wrapper
            %button#index-info-btn.btn.btn-info index          
      = render "layouts/index_info" 

    - else
      .audio-player.d-flex.justify-content-center
        .audio-player-wrapper.w-100
          .prevbtn
            %button#prev
              %i.fa-solid.fa-left-long
          #foot-audio-player
            %audio#audio
          .nextbtn
            %button#next
              %i.fa-solid.fa-right-long
          .loop
            %button#loop-btn
              %i.fa-solid.fa-rotate
          .index-info-wrapper
            #index-info-btn.btn.btn-info index     
      = render "layouts/index_info" 
            
  