%footer
  - if @infos.present?
    .track-info-wrapper
      .track-info
        %span#track-artist
      .track-info
        %span.mx-2 -
      .track-info
        %span#track-name
    .audio-player-wrapper
      - if !@music_show
        .prevbtn
          %button#prev
            %i.fa-solid.fa-left-long
      #foot-audio-player
        %audio#audio
      - if !@music_show
        .nextbtn
          %button#next
            %i.fa-solid.fa-right-long
      .loop
        %button#loop-btn
          %i.fa-solid.fa-rotate