<nav class="side-bar">
    <div class="side-bar-content">
        <%= link_to("Kichotify", "/", id: "logo")%>
        <ul>
            <li>ホーム</li>
            <li>お気に入り</li>
        </ul>   
    </div>
</nav>