<div class="top-bar">
    <div class="top-bar-left">
        <input type="text">
    </div>
    <div class="top-bar-right">
        <p id="user">kosamega</p>
        <div id="user-ddmenu">
            <ul>
            <li>設定</li>
            <li>ログアウト</li>
            </ul>
        </div>
    </div>
</div>